<ion-view view-title="Take photo">
    <ion-content>
        <h3 class="text-center">Take a Picture</h3>
 
        <br/>
        <br/>
 
        <button class="button button-block button-positive" ng-click="takePicture()">
            Take a Picture
        </button>
 
        <img class="padding" ng-src="{{imgSrc}}">
    </ion-content>
<div id="footer" class="bar bar-footer">
        <div class="title em-footer-title">© Orion Orbit</div>
    </div>
</ion-view>
