<ion-view view-title="Invite">
    <ion-content>
        <h3 class="text-center">Invite your friends to the Treasure Hunt</h3>
 
        <br/>
        <br/>
 
        <button class="button button-block button-assertive" ng-click="nativeShare()">
            Invite
        </button>
    </ion-content>
<div id="footer" class="bar bar-footer">
        <div class="title em-footer-title">© Orion Orbit</div>
    </div>
</ion-view>
